<md-toolbar layout="row">
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Gulp Angular</h1>
</md-toolbar>
    <div layout="column" flex>

<div ng-controller="form2Controller as fm">
  <form name="form" 
     ng-submit="submitForm()"
     novalidate>
    <!-- Email -->
    <md-input-container>
      <label name="email">Your email</label>
       <input id="email_id"
        type="email"
        name="email"
        ng-model="user.email"
        placeholder="Email Address" 
        required/>
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <!-- Min Max -->
    <md-input-container>
      <label>Special Name</label>
       <input id="specialId"
        type="text" 
        name="special"
        value="user.special"
        ng-model="user.special"
        ng-minlength=5 
        ng-maxlength=20
        placeholder="5 - 20 characters"/>
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <!-- Date -->
    <md-input-container>
      <label>Birthday</label>
       <input id="birthday_id"
        type="date" 
        name="birthday"
        ng-model="user.birthday"
        ng-change="fm.calculateAge()"
        date-validate/>
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
<!-- Submit -->
      <br>
      <br>
      <button type="submit" 
       class="button radius">Submit</button>
    </form>
    <p>{{fm.speical}}</p>
  </div>
<!-- end form -->

</div>
<div>
  <br>
  <p>Draw you tag</p>
    <sign-on-glass sig="your.signature.model" 
    bg-color="#FDF5E6"
    color="#000000"
    width="310"
    height="200"
    value='formData[field.identifier]'>
  </sign-on-glass>
</div>
<br>
<a href="#/date-time/{{user.special}}/{{user.birthday}}">Hi {{fm.form.speical}}</a>
<p>Take a picture of yourself? {{hasUserMedia}}</p>
<h2 ng-if="hasUserMedia" class="celebrate ng-scope">Your browser supports a version of the camera api, success!</h2>
<camera>
  <camera-control-snapshot></camera-control-snapshot>
</camera>
<canvas id="canvas" class="camera" width="2" height="2"></canvas>

